<template>
  <section>
    <div>
      <ul>
        <li
        v-for="user in users"
        :key="user._id">
        {{ user }}
      </li>
      </ul>
    </div>
  </section>
</template>

<script>
import { GET_USERS } from '../apollo/queries/graphql'
export default {
  data () {
    return {
      users: []
    }
  },
  apollo: {
    users: {
      query: GET_USERS
    }
  }
}
</script>
