<template>
<section>
  <div>
    <div>
      <h2>Registro</h2>
      <form method="POST" @submit.prevent="register">
        <div>
          <label>name</label>
          <input type="text" v-model="name">
        </div>
        <div>
          <label class="label">Password</label>
          <input type="email" v-model="email">
        </div>
        <button>Login</button>
      </form>
    </div>
  </div>
</section>
</template>

<script>
import {
  SAVE_USER
} from '../apollo/queries/graphql'

export default {
  data() {
    return {
      users: [],
      name: '',
      email: ''
    }
  },
  methods: {
    register() {
      this.$apollo
        .mutate({
          mutation: SAVE_USER,
          variables: {
            name: this.name,
            email: this.email,
          }
        })
        .then(response => {
          // redirect to login page
          console.log(response);
        })
    }
  }
}
</script>
